<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins/Poppins-Black.ttf</string>
        <string>Poppins/Poppins-BlackItalic.ttf</string>
        <string>Poppins/Poppins-Bold.ttf</string>
        <string>Poppins/Poppins-BoldItalic.ttf</string>
        <string>Poppins/Poppins-ExtraBold.ttf</string>
        <string>Poppins/Poppins-ExtraBoldItalic.ttf</string>
        <string>Poppins/Poppins-ExtraLight.ttf</string>
        <string>Poppins/Poppins-ExtraLightItalic.ttf</string>
        <string>Poppins/Poppins-Italic.ttf</string>
        <string>Poppins/Poppins-Light.ttf</string>
        <string>Poppins/Poppins-LightItalic.ttf</string>
        <string>Poppins/Poppins-Medium.ttf</string>
        <string>Poppins/Poppins-MediumItalic.ttf</string>
        <string>Poppins/Poppins-Regular.ttf</string>
        <string>Poppins/Poppins-SemiBold.ttf</string>
        <string>Poppins/Poppins-SemiBoldItalic.ttf</string>
        <string>Poppins/Poppins-Thin.ttf</string>
        <string>Poppins/Poppins-ThinItalic.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>blue1</string>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
